NEXT_PUBLIC_SUPABASE_URL= "https://rcomsfffumefjvczfrye.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjb21zZmZmdW1lZmp2Y3pmcnllIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0MTcxODcsImV4cCI6MjEwMzk5MzE4N30.flElE9RtEHhjQCWOFfQayWsV4pe2IAZebdCoMl_K8Vw"
SUPABASE_SERVICE_ROLE_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjb21zZmZmdW1lZmp2Y3pmcnllIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODQxNzE4NywiZXhwIjoyMTAzOTkzMTg3fQ.CoQIVGmbTBFoQJcFRnu7wJSG2wKm7FWgG7Au5Z42NS4"
DATABASE_URL= "postgresql://postgres.rcomsfffumefjvczfrye:PEtcrSJl6PNvvNT6@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"
