NEXT_PUBLIC_SUPABASE_URL="https://rcomsfffumefjvczfrye.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjb21zZmZmdW1lZmp2Y3pmcnllIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0MTcxODcsImV4cCI6MjEwMzk5MzE4N30.flElE9RtEHhjQCWOFfQayWsV4pe2IAZebdCoMl_K8Vw"
